{% extends '@SuluCommunity/base-email.html.twig' %}

{% block content %}
    {% set confirmUrl = url('sulu_community.email_confirmation', { token: token }) %}
    <a href="{{ confirmUrl }}">{{ confirmUrl }}</a>
{% endblock %}
