{% extends '@SuluCommunity/base.html.twig' %}

{% block content %}
    <h1>{{ 'Password_reset'|trans }}</h1>

    {% if app.request.get('send') == 'true' %}
        <p>
            {{ 'password_reset_finished'|trans }}
        </p>
    {% else %}
        {% if form %}
            {{ form(form) }}
        {% else %}
            {{ 'password_reset_token_invalid'|trans }}
        {% endif %}
    {% endif %}
{% endblock %}
