{% extends '@SuluCommunity/base-email.html.twig' %}

{% block content %}
    {% set url = url('sulu_community.password_reset', { token: user.passwordResetToken }) %}

    <a href="{{ url }}">
        {{ url }}
    </a>
{% endblock %}
