{% extends '@SuluCommunity/base.html.twig' %}

{% block content %}
    <h1>{{ 'Password_forget'|trans }}</h1>

    {% if app.request.get('send') == 'true' %}
        <p>
            {{ 'password_forget_finished'|trans }}
        </p>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
