{% extends '@SuluCommunity/base.html.twig' %}

{% block content %}
    <h1>{{ 'Profile'|trans }}</h1>

    {% if success %}
        <p class="success">
            {{ 'save_profile_finished'|trans }}
        </p>
    {% endif %}

    {{ form(form) }}
{% endblock %}
