includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - .
    level: max
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/Tests/Application/var/*
        - %currentWorkingDirectory%/Tests/Application/config/reference.php
        - %currentWorkingDirectory%/vendor/*
    symfony:
        containerXmlPath: %currentWorkingDirectory%/Tests/Application/var/cache/admin/dev/Sulu_Bundle_CommunityBundle_Tests_Application_KernelDevDebugContainer.xml
        consoleApplicationLoader: Tests/phpstan/console-application.php
        constantHassers: false
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
