parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: Command/InitCommand.php

		-
			message: "#^Call to method encodePassword\\(\\) on an unknown class Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\.$#"
			count: 1
			path: Controller/AbstractController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: Controller/AbstractController.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Controller\\\\AbstractController\\:\\:getSubscribedServices\\(\\) should return array\\<int\\|string, string\\> but returns array\\<string\\|Symfony\\\\Contracts\\\\Service\\\\Attribute\\\\SubscribedService\\>\\.$#"
			count: 1
			path: Controller/AbstractController.php

		-
			message: "#^PHPDoc tag @var for variable \\$encoder contains unknown class Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\.$#"
			count: 1
			path: Controller/AbstractController.php

		-
			message: "#^Parameter \\#1 \\$type of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManagerInterface\\:\\:getConfigTypeProperty\\(\\) expects 'completion'\\|'confirmation'\\|'email_confirmation'\\|'firewall'\\|'from'\\|'login'\\|'maintenance'\\|'password_forget'\\|'password_reset'\\|'profile'\\|'registration'\\|'registration_rule'\\|'registration_rule…'\\|'role'\\|'to'\\|'webspace_key', string given\\.$#"
			count: 2
			path: Controller/AbstractController.php

		-
			message: "#^Unable to resolve the template type TConfig in call to method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManagerInterface\\:\\:getConfigTypeProperty\\(\\)$#"
			count: 2
			path: Controller/AbstractController.php

		-
			message: "#^Parameter \\#1 \\$type of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:createForm\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Form\\\\FormTypeInterface\\<Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User\\>\\>, string given\\.$#"
			count: 1
			path: Controller/CompletionController.php

		-
			message: "#^Parameter \\#1 \\$emailUsername of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManagerInterface\\:\\:passwordForget\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Controller/PasswordController.php

		-
			message: "#^Parameter \\#1 \\$type of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:createForm\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Form\\\\FormTypeInterface\\<Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User\\>\\>, string given\\.$#"
			count: 1
			path: Controller/PasswordController.php

		-
			message: "#^Parameter \\#1 \\$type of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:createForm\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Form\\\\FormTypeInterface\\<array\\{\\}\\>\\>, string given\\.$#"
			count: 1
			path: Controller/PasswordController.php

		-
			message: "#^Parameter \\#1 \\$type of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:createForm\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Form\\\\FormTypeInterface\\<Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User\\|null\\>\\>, string given\\.$#"
			count: 1
			path: Controller/ProfileController.php

		-
			message: "#^Parameter \\#1 \\$user of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Controller\\\\AbstractController\\:\\:setUserPasswordAndSalt\\(\\) expects Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User, Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User\\|null given\\.$#"
			count: 1
			path: Controller/ProfileController.php

		-
			message: "#^Parameter \\#1 \\$type of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:createForm\\(\\) expects class\\-string\\<Symfony\\\\Component\\\\Form\\\\FormTypeInterface\\<null\\>\\>, string given\\.$#"
			count: 1
			path: Controller/RegistrationController.php

		-
			message: "#^Parameter \\#1 \\$user of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Controller\\\\AbstractController\\:\\:setUserPasswordAndSalt\\(\\) expects Sulu\\\\Bundle\\\\SecurityBundle\\\\Entity\\\\User, null given\\.$#"
			count: 1
			path: Controller/RegistrationController.php

		-
			message: "#^Cannot access offset 'template' on mixed\\.$#"
			count: 2
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\DependencyInjection\\\\CompilerPass\\\\CommunityManagerCompilerPass\\:\\:updateWebspaceConfig\\(\\) should return array\\{from\\: array\\<string\\>\\|string, to\\: array\\<string\\>\\|string, webspace_key\\: string, role\\: string, firewall\\: string, maintenance\\: array\\{enabled\\: bool, template\\: string\\}, login\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, registration\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, \\.\\.\\.\\} but returns non\\-empty\\-array\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Offset 'email' does not exist on array\\<string\\>\\|string\\.$#"
			count: 2
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Offset 'from' on array\\{from\\: array\\<string\\>\\|string, to\\: array\\<string\\>\\|string, webspace_key\\: string, role\\: string, firewall\\: string, maintenance\\: array\\{enabled\\: bool, template\\: string\\}, login\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, registration\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, \\.\\.\\.\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Offset 'name' does not exist on array\\<string\\>\\|string\\.$#"
			count: 2
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Offset 'to' on array\\{from\\: non\\-empty\\-array\\<string, string\\>, to\\: array\\<string\\>\\|string, webspace_key\\: string, role\\: string, firewall\\: string, maintenance\\: array\\{enabled\\: bool, template\\: string\\}, login\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, registration\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, \\.\\.\\.\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityManagerCompilerPass.php

		-
			message: "#^Cannot access offset 'completion' on mixed\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityValidatorCompilerPass.php

		-
			message: "#^Cannot access offset 'service' on mixed\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityValidatorCompilerPass.php

		-
			message: "#^Parameter \\#1 \\$id of class Symfony\\\\Component\\\\DependencyInjection\\\\Reference constructor expects string, mixed given\\.$#"
			count: 1
			path: DependencyInjection/CompilerPass/CommunityValidatorCompilerPass.php

		-
			message: "#^Class Sulu\\\\Bundle\\\\CommunityBundle\\\\Entity\\\\EmailConfirmationTokenRepository extends generic class Sulu\\\\Component\\\\Persistence\\\\Repository\\\\ORM\\\\EntityRepository but does not specify its types\\: T$#"
			count: 1
			path: Entity/EmailConfirmationTokenRepository.php

		-
			message: "#^Class Sulu\\\\Bundle\\\\CommunityBundle\\\\Entity\\\\RegistrationRuleItemRepository extends generic class Sulu\\\\Component\\\\Persistence\\\\Repository\\\\ORM\\\\EntityRepository but does not specify its types\\: T$#"
			count: 1
			path: Entity/RegistrationRuleItemRepository.php

		-
			message: "#^Class Sulu\\\\Bundle\\\\CommunityBundle\\\\Entity\\\\RegistrationRuleUserRepository extends generic class Sulu\\\\Component\\\\Persistence\\\\Repository\\\\ORM\\\\EntityRepository but does not specify its types\\: T$#"
			count: 1
			path: Entity/RegistrationRuleUserRepository.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Event\\\\AbstractCommunityEvent\\:\\:getConfigProperty\\(\\) has invalid return type Sulu\\\\Bundle\\\\CommunityBundle\\\\Event\\\\TTypeConfig\\.$#"
			count: 1
			path: Event/AbstractCommunityEvent.php

		-
			message: "#^Offset TTypeConfigProperty of 'activate_user'\\|'auto_login'\\|'delete_user'\\|'email'\\|'embed_template'\\|'enabled'\\|'options'\\|'redirect_to'\\|'service'\\|'template'\\|'type' does not exist on array\\<array\\|bool\\|string\\|null\\>\\|string\\.$#"
			count: 1
			path: Event/AbstractCommunityEvent.php

		-
			message: "#^Offset 'firewall' on array\\{from\\: array\\<string\\>\\|string, to\\: array\\<string\\>\\|string, webspace_key\\: string, role\\: string, firewall\\: string, maintenance\\: array\\{enabled\\: bool, template\\: string\\}, login\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, registration\\: array\\{enabled\\: bool, template\\: string, service\\: string\\|null, embed_template\\: string, type\\: string, options\\: array, activate_user\\: bool, auto_login\\: bool, \\.\\.\\.\\}, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: EventListener/CompletionListener.php

		-
			message: "#^Parameter \\#1 \\$from of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: EventListener/EmailConfirmationListener.php

		-
			message: "#^Parameter \\#2 \\$to of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: EventListener/EmailConfirmationListener.php

		-
			message: "#^Offset 'email' does not exist on array\\<array\\|bool\\|string\\|null\\>\\|string\\.$#"
			count: 1
			path: EventListener/MailListener.php

		-
			message: "#^Parameter \\#3 \\$config of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\{subject\\: string, user_template\\: string\\|null, admin_template\\: string\\|null\\}, array\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: EventListener/MailListener.php

		-
			message: "#^Parameter \\#1 \\$from of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: EventListener/RegistrationRuleListener.php

		-
			message: "#^Parameter \\#2 \\$to of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: EventListener/RegistrationRuleListener.php

		-
			message: "#^Parameter \\#2 \\$webspaceKey of class Sulu\\\\Bundle\\\\CommunityBundle\\\\Entity\\\\RegistrationRuleUser constructor expects string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: EventListener/RegistrationRuleListener.php

		-
			message: "#^Call to method createMessage\\(\\) on an unknown class Swift_Mailer\\.$#"
			count: 1
			path: Mail/MailFactory.php

		-
			message: "#^Call to method send\\(\\) on an unknown class Swift_Mailer\\.$#"
			count: 1
			path: Mail/MailFactory.php

		-
			message: "#^Class Swift_Mailer not found\\.$#"
			count: 1
			path: Mail/MailFactory.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\MailFactory\\:\\:__construct\\(\\) has parameter \\$mailer with no type specified\\.$#"
			count: 1
			path: Mail/MailFactory.php

		-
			message: "#^Property Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\MailFactory\\:\\:\\$mailer has unknown class Swift_Mailer as its type\\.$#"
			count: 1
			path: Mail/MailFactory.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManager\\:\\:getConfigProperty\\(\\) has invalid return type Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\TTypeConfig\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#1 \\$from of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#1 \\$type of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManager\\:\\:getConfigTypeProperty\\(\\) expects TConfig of 'completion'\\|'confirmation'\\|'email_confirmation'\\|'firewall'\\|'from'\\|'login'\\|'maintenance'\\|'password_forget'\\|'password_reset'\\|'profile'\\|'registration'\\|'registration_rule'\\|'registration_rule…'\\|'role'\\|'to'\\|'webspace_key', string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#2 \\$firewallName of class Symfony\\\\Component\\\\Security\\\\Core\\\\Authentication\\\\Token\\\\UsernamePasswordToken constructor expects string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#2 \\$to of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\<string\\>\\|string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#3 \\$config of static method Sulu\\\\Bundle\\\\CommunityBundle\\\\Mail\\\\Mail\\:\\:create\\(\\) expects array\\{subject\\: string, user_template\\: string\\|null, admin_template\\: string\\|null\\}, array\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Parameter \\#3 \\$roleName of method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\UserManagerInterface\\:\\:createUser\\(\\) expects string, array\\<array\\|bool\\|string\\|null\\>\\|string given\\.$#"
			count: 1
			path: Manager/CommunityManager.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\CommunityManagerInterface\\:\\:getConfigProperty\\(\\) has invalid return type Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\TTypeConfig\\.$#"
			count: 1
			path: Manager/CommunityManagerInterface.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\UserManager\\:\\:__construct\\(\\) has parameter \\$contactManager with generic interface Sulu\\\\Bundle\\\\ContactBundle\\\\Contact\\\\ContactManagerInterface but does not specify its types\\: DoctrineEntity, ApiEntity, AddressRelationEntity$#"
			count: 1
			path: Manager/UserManager.php

		-
			message: "#^Property Sulu\\\\Bundle\\\\CommunityBundle\\\\Manager\\\\UserManager\\:\\:\\$contactManager with generic interface Sulu\\\\Bundle\\\\ContactBundle\\\\Contact\\\\ContactManagerInterface does not specify its types\\: DoctrineEntity, ApiEntity, AddressRelationEntity$#"
			count: 1
			path: Manager/UserManager.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: Tests/Application/config/config.php

		-
			message: "#^Cannot call method getHtmlBody\\(\\) on Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null\\.$#"
			count: 3
			path: Tests/Functional/Controller/RegistrationTest.php

		-
			message: "#^Cannot call method getTo\\(\\) on Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null\\.$#"
			count: 3
			path: Tests/Functional/Controller/RegistrationTest.php

		-
			message: "#^Access to an undefined property Sulu\\\\Bundle\\\\CommunityBundle\\\\Tests\\\\Unit\\\\Controller\\\\SaveMediaTraitTest\\:\\:\\$container\\.$#"
			count: 2
			path: Tests/Unit/Controller/SaveMediaTraitTest.php

		-
			message: "#^PHPDoc tag @var for variable \\$repository contains generic class Doctrine\\\\ORM\\\\EntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Validator/Constraints/ExistValidator.php
