<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Tests/bootstrap.php">
   <testsuites>
        <testsuite name="Sulu Community Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\CommunityBundle\Tests\Application\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="DATABASE_URL" value="mysql://root:@127.0.0.1:3306/su_community_test"/>
        <env name="DATABASE_CHARSET" value="utf8mb4"/>
        <env name="DATABASE_COLLATE" value="utf8mb4_unicode_ci"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
