{% extends "master.html.twig" %}

{% block content %}
    <h1>{{ 'Registration'|trans }}</h1>

    {% if app.request.get('send') == 'true' %}
        {{ 'registration_finished'|trans }}
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
